{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{%static 'assets/img/favicon.png'%}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
        <link rel="stylesheet" href="{%static 'assets/plugins/bootstrap/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}">
        <link rel="stylesheet" href="{%static 'assets/plugins/fontawesome/css/all.min.css'%}">
        <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
    </head>
    <body>
        <div class="header">
            <div class="header-left">
               <a href="{%url 'HOD'%}" class="logo">
               <img src="{% static 'assets/img/logo.png'%}" alt="Logo">
               </a>
               <a href="{%url 'HOD'%}" class="logo logo-small">
               <img src="{% static 'assets/img/logo-small.png'%}" alt="Logo" width="30" height="30">
               </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
            </a>
            <div class="top-nav-search">
               <form>
                  <input type="text" class="form-control" placeholder="Search here">
                  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
               {%if request.session.email%}
               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <span class="user-img"><img class="rounded-circle" src="{{request.session.profile_pic}}" width="31"height="31" alt="{{request.session.fname}}"></span>
                  </a>
                  <div class="dropdown-menu">
                     <div class="user-header">
                        <div class="avatar avatar-sm">
                           <img src="{{request.session.profile_pic}}" alt="User Image" class="avatar-img rounded-circle">
                        </div>
                        <div class="user-text">
                           <h6>{{request.session.fname}}</h6>
                           <p class="text-muted mb-0">{{request.session.user_type}} ({{request.session.branch}})</p>
                        </div>
                     </div>
                     <a class="dropdown-item" href="{%url 'update-profile'%}">My Profile</a>
                     <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>
                     <a class="dropdown-item" href="{%url 'logout'%}">Change Password</a>
                  </div>
               </li>
               {%else%}
               <li class="nav-item dropdown has-arrow">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <span class="user-img"><img class="rounded-circle" src="{% static 'assets/img/avatar-01.png'%}" width="31" ></span>
                  </a>
                  <div class="dropdown-menu">
                     
                     <a class="dropdown-item" href="{%url 'forgot-password'%}">Reset Password</a>
                     <a class="dropdown-item" href="{%url 'login'%}">Login</a>
                  </div>
               </li>
               {% endif %}
            </ul>
         </div>
         <div class="sidebar" id="sidebar">
               <div class="sidebar-inner slimscroll">
                  <div id="sidebar-menu" class="sidebar-menu">
                     <ul>
                        <li class="menu-title">
                           <span>Main Menu</span>
                        </li>
                        <li>
                           <a href="{%url 'HOD'%}"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> </a>
                           
                        </li>
                        <li class="submenu">
                           <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                           <ul>
                              <li><a href="{%url 'student-list'%}">Student List</a></li>
                              <li><a href="{%url 'add-student'%}">Add Student</a></li>
                              <li><a href="{%url 'view-student-list'%}">Edit Student</a></li>
                           </ul>
                        </li>
                        <li class="submenu">
                           <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                           <ul>
                              <li><a href="{%url 'teacher-list'%}">Teacher List</a></li>
                              <li><a href="{%url 'add-teacher'%}">Teacher Add</a></li>
                              <li><a href="{%url 'view-teacher-list'%}">Teacher Edit</a></li>
                           </ul>
                        </li>
                        
                        <li class="submenu">
                           <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                           <ul>
                              <li><a href="subjects.html">Subject List</a></li>
                              <li><a href="add-subject.html">Subject Add</a></li>
                              <li><a href="edit-subject.html">Subject Edit</a></li>
                           </ul>
                        </li>
                        
                        <li>
                           <a href="{%url 'holiday'%}"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
                        </li>
                        <li>
                           <a href="fees.html"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
                        </li>
                        <li>
                           <a href="exam.html"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
                        </li>
                        <li>
                           <a href="event.html"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
                        </li>
                        <li>
                           <a href="time-table.html"><i class="fas fa-table"></i> <span>Time Table</span></a>
                        </li>
                        <li>
                           <a href="library.html"><i class="fas fa-book"></i> <span>Library</span></a>
                        </li>
                        
                     </ul>
                  </div>
               </div>
            </div>

            <script src="{%static 'assets/js/jquery-3.6.0.min.js'%}"></script>
            <script src="{%static 'assets/js/popper.min.js'%}"></script>
            <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
            <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
            <script src="{%static 'assets/plugins/apexchart/apexcharts.min.js'%}"></script>
            <script src="{%static 'assets/plugins/apexchart/chart-data.js'%}"></script>
            <script src="{%static 'assets/js/script.js'%}"></script>
       
{% block content %}
{% endblock %}
    </body>
</html>